.wrapper {
    margin: var(--header-height) auto 0;
    max-width: 1200px;
    padding-top: 20px;
}

.content {
    display: flex;
    margin-bottom: 20px;
}

.wrapper-avatar {
    flex: 1;
}

.wrapper-avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper-avatar img {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    object-fit: fill;
    border: 1px solid #ccc;
}

.wrapper-form {
    flex: 3;
}

.title {
    font-size: 1.6rem;
    font-weight: 500;
    color: #337ab7;
}

.info-book-patient-input-note {
    color: #666;
    font-size: 1.3rem;
    padding-top: 5px;
}

.info-book-btn {
    background: #45c3d2;
    color: #fff;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
    text-align: center;
    padding: 6px 12px;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.error-msg {
    color: red;
    padding: 4px 0;
}
