.btn-booking {
    margin-right: 8px;
    background-color: rgb(238, 238, 238);
    z-index: 1;
    margin-top: 5px;
    padding: 10px;
    white-space: nowrap;
    display: block;
    font-weight: 600;
    &:hover {
        background-color: rgb(69, 195, 210);
    }
    display: flex;
    justify-content: center;
    align-self: center;
    max-height: 42px;
    min-width: 140px;
}
