.wrapper {
    padding: 20px 0 34px;
    position: relative;
}
.content__heading {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 1.6rem;
    color: #000;
}

.heading {
    color: #000;
    font-size: 2.4rem;
    padding-left: 0;
    font-weight: 600;
}

.content-btn {
}

.heading__search {
    text-decoration: none;
    border-radius: 4px;
    background: #ebebeb;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 15px;
    color: #282e41;
}

.heading__search:hover {
    opacity: 0.7;
}

.content__list-video {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
