.content__handbook {
    text-decoration: none;
    margin: 0 10px;
    &:hover {
        transform: translateY(-2px);
    }
}

.content__handbook-item img {
    border-radius: 5px;
    width: 50%;
}

.content__handbook-item {
    display: flex;
    justify-content: space-around;
}

.content__handbook-text {
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
    margin-left: 16px;
}

.content__handbook-text:hover {
    color: #009966;
}
