.content__handbook {
    text-decoration: none;
    display: block;
    padding: 0 10px;

    height: 168px;
    &:hover {
        transform: translateY(-2px);
    }
}

.content__handbook.content__handbook-handbook {
    width: 50%;
}

.content__handbook-item {
    display: flex;
    height: inherit;
}

.content__handbook-item img {
    border-radius: 5px;
    width: 50%;
    height: inherit;
}

.content__handbook-description {
    margin-left: 16px;
}

.content__handbook-title {
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
}

.content__handbook-title:hover {
    color: #009966;
}

.content__handbook-short-description {
    padding-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(40, 49, 63);
}

.content__handbook-short-description span * {
    font-weight: 300 !important;
    font-size: 1.4rem !important;
}
