.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
}

.pagination-item {
    margin: 0 15px;
    border-radius: 2px;
    &:hover {
        box-shadow: 0 0.1rem 2rem 0.5rem rgba(0, 0, 0, 0.05);
    }
}

.pagination-item__active {
    background-color: rgba(69, 195, 210, 1);
}

.pagination-item__active:hover {
    opacity: 0.9;
}

.pagination-item__active .pagination-item__btn {
    color: var(--white-color);
}

.pagination-item__btn {
    background-color: transparent;
    color: #939393;
    text-decoration: none;
    min-width: 40px;
    height: 30px;
    display: block;
    font-size: 1.6rem;
    text-align: center;
    line-height: 30px;

    &:hover {
        cursor: pointer;
    }
}

.pagination-item__btn.pagination-item__btn-in-active:hover {
    cursor: not-allowed;
}
