.comunicate-icon {
    width: 162px;
    height: 50px;
    background-size: 142px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 5px;
}
