.wrapper {
    margin-top: var(--header-height);
    margin-bottom: 30px;
}

.doctor-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.doctor_column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
    padding-bottom: 30px;
}
