.wrapper {
    margin-top: var(--header-height);
    margin-bottom: 30px;
}

.specialty-title {
    margin-bottom: 25px;
}

.specialty-title p {
    font-size: 2rem;
    padding: 10px 0;
}

.specialty-list {
    margin: 10px 0 30px 0;
}
