.header_nav {
    display: flex;
    justify-content: space-between;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    box-shadow: 0 0.1rem 2rem 0.5rem rgba(0, 0, 0, 0.05);
}

.header_nav-logo {
    display: flex;
    font-size: 2.5rem;
    align-items: center;
}

.header_nav-logo img {
    height: 40px;
    width: 160px;
}

.header_nav-logo-link {
    color: var(--white-color);
}

.header_nav-logo-link span {
    color: var(--primary-color);
}

.header_nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_nav-icon {
    line-height: 73px;
    font-size: 2.5rem;
    color: var(--black-color);
    cursor: pointer;
}

.header_nav-icon:hover {
    color: red;
}

.header_nav_login {
    line-height: 73px;
    font-size: 15px;
}

.login-list {
    display: flex;
    list-style: none;
    cursor: pointer;
}

.login-item {
    color: var(--black--color);
    margin-right: 10px;
}

.logout-btn {
    background-color: white;
    &:hover {
        cursor: pointer;
    }
}

.header_nav_login {
    position: relative;
}

.user-name {
    position: relative;
    &:hover .update__Thongtin {
        display: block;
    } 
}

.update__Thongtin {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    display: none;
    width: 180px;
    box-shadow: 0 0.1rem 2rem 0.5rem rgba(0, 0, 0, 0.05);
}

.thongtin__item :hover {
    color: #45c3d2;
    font-style: italic;
}

.list__thongtin {
    list-style: none;
}

.thongtin__item {
    margin: 1rem;
    text-align: left;
}

.thongtin__item a {
    color: #242424;
}

.logo {
    display: flex;
}
