.wrapper {
    max-width: 1200px;
    margin: var(--header-height) auto 0;
}

.content {
    margin-top: 10px;
}

.calender-complete {
    margin: 20px 0px;
}

.title {
    font-size: 2rem;
    font-weight: 500;
    color: #337ab7;
}

.table-content {
    margin-top: 20px;
}

table {
    border: 1px solid rgb(71, 193, 208);
    border-radius: 8px;
    width: 100%;
    min-height: 200px;
    padding: 20px 8px;
}

th {
    border-bottom: 1px solid rgb(71, 193, 208);
}
tr:hover {
    background-color: rgba($color: #000000, $alpha: 0.1);
}

td {
    text-align: center;
    padding: 1.5rem !important;
}

td.td-action {
    display: flex;
    align-items: center;
}

.btn-action {
    font-size: 1.6rem;
    padding: 8px;
    &:hover {
        color: rgb(71, 193, 208);
        cursor: pointer;
    }
}

.link-action {
    height: 30px !important;
    display: inline-block;
}

.btn-action + .btn-action {
    border-left: 1px solid rgba($color: #000000, $alpha: 0.3);
}

.link-action + .btn-action {
    border-left: 1px solid rgba($color: #000000, $alpha: 0.3);
}

.link-action + a {
    border-left: 1px solid rgba($color: #000000, $alpha: 0.3);
}
// Css Dialog

.wrapper-dialog {
    z-index: 1;
    border: 1px solid #333;
    border-radius: 12px;
    width: 500px;
    min-height: 250px;
    max-height: 250px;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0.1rem 2rem 0.5rem rgba(0, 0, 0, 0.5);
    background-color: white;
}
.wrapper-dialog.plus {
    max-height: 350px;
}

.dialog-header {
    display: flex;
    justify-content: center;
}

.dialog-title {
    font-size: 2.2rem;
    font-weight: 600;
    color: rgb(78, 137, 191);
}

.dialog-desc {
    display: flex;
    justify-content: center;
}

.dialog-desc-content {
    opacity: 0.8;
}

.dialog-content {
    margin: 10px 10px;
}

.dialog-content p {
    font-size: 1.6rem;
    text-align: center;
}

.dialog-action {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.dialog-btn {
    padding: 10px 24px;
    border-radius: 8px;
    background-color: rgb(71, 193, 208);
    color: white;
    font-weight: 500;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.dialog-btn.btn-cancel {
    background-color: #999;
}
