.wrapper {
    width: 100%;
    height: 100%;
}

.map-container {
    width: 100%;
    height: 88%;
}

.search-location {
    padding-top: 10px;
}

.search-location-title {
    font-weight: 500;
    color: rgb(71, 193, 208);
    padding-bottom: 4px;
}

.my-location {
    width: 100%;
    padding: 8px;
    border-radius: 7px;
    border: 1px solid #ccc;
}
